##domain URL where the serverless apis are deployed, once the severless functions are deployed we can get the URL from the console. 
## While running local we can give as http://localhost:3000 as server runs in port 3000
REACT_APP_SERVERLESS_DOMAIN=

## This is used to route to the flex application once the login is sucess. Actual deployment use the below URL. For development we can use 
http://localhost:3002 this URL flex plugin will be loaded
REACT_APP_SERVICE_BASE_URL=https://flex.twilio.com
